%h1 New Person

= form_for @person do |f|
  %ul
    - @person.errors.full_messages.each do |error|
      %li= error
  %ul
    %li
      = f.label :full_name
      = f.text_field :full_name

    %li
      = f.label :email
      = f.text_field :email

  = f.submit

%ul#people

- content_for :javascripts do
  = javascript_include_tag "jquery.chosen.min"
  = javascript_include_tag "people/new"
  :javascript
    (function () {
      Amigosalao.people = "#{escape_javascript(render "people/index")}";
      $("#people").html(Amigosalao.people);
    })();
